.calendar {
  margin: 1rem;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.calendar-week {
  display: flex;
}

.calendar-day {
  flex: 1;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
